#tableContainer {
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide overflow content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow effect */
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #333;
    color: #eee;
}

th, td {
    border: 1px solid #555;
    text-align: left;
    padding: 8px;
    transition: border 0.3s ease;
}

th {
    background-color: #444;
}

/* Define styles for alternating row shades */
.table-row-even {
    background-color: rgba(0, 0, 0, 0.35);
}

.table-row-odd {
    background-color: rgba(0, 0, 0, 0.05);
}

.gold-text {
    color: #fdd90c;
    font-weight: bold;
}

.player-info-container {
    display: flex;
    flex-wrap: wrap;
}

.game-info-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.timer-icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.game-info-container span { 
    margin-right: 20px;
}

.flex-spacer {
    flex-grow: 1;
}

.collapsible {
    margin-bottom: 12px;
}

.collapsible-header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    /* background-color: #444; */
    color: #eee;
    padding: 10px;
    padding-top: 0px;
    cursor: pointer;
    line-height: normal;
    transition: background-color 0.3s ease;
    border-radius: 8px;
 }

.collapsible-header * {
    pointer-events: none; /* Disable pointer events on child elements, makes whole header clickable */
}

.play-icon {
    pointer-events: auto;
    width: 24px;
    height: 24px;
    background-color: #4CAF50; /* Green circle */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    position: absolute;
    right: 5px;
    top: 35%;
    transform: translateY(-50%);
    transition: filter 0.2s ease, background-color 0.2s ease, transform 0.15s ease;
}

.play-icon::before {
    pointer-events: auto;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid white; /* White play button */
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.play-icon:hover {
    filter: brightness(1.2); /* Increase brightness */
}

.play-icon:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* Scale down and apply inset shadow */
}

.file-name-span {
    pointer-events: auto; /* needed, to be clickable */
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.file-name-span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px; /* Adjust the height of the underline */
    background: currentColor; /* Use the text color */
    left: 0;
    bottom: -1px; /* Adjust to position the underline properly */
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.file-name-span:hover::after {
    opacity: 1;
}

.file-name-span:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* Scale down and apply inset shadow */
}

.stage-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire space */
    opacity: 0.25;
    transition: opacity 0.3s ease;
    z-index: -999; /* sit behind other header elements */
}

.collapsible-header:hover .stage-image {
    opacity: 0.4;
}

.collapsible-body {
    display: block; /* display collapsible body by default */
    padding: 10px;
    border-radius: 8px;
}

.collapsible-body.show {
    display: none; /* hide collapsible body when active */
}

/* border colors in table */
.team-RED {
    border: 1px solid #F15959;
}

.team-BLU {
    border: 1px solid #6565FE;
}

.team-GRN {
    border: 1px solid #4CE44C;
}

.character-icon {
    width: 24px;
    height: auto;
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 0px;
    transform: translateY(6px);
}

.KO-icon {
    width: 20px;
    height: auto;
    margin-right: 0px;
}

.small-text {
    font-size: 0.9em;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.highlight {
    border: 1px solid yellow;
}